
@font-face {
    font-style: italic;
    font-weight: bold;
    src: url('fonts/CoinageCapsKrugerGray.ttf');
}

.root {
    -fx-font-family: 'Palatino Linotype';
    -fx-font-size: 14px;
}

.background {
    -fx-background-size: 100% 100%;
}

.button {
    -fx-background-color: transparent;
    -fx-background-image: url('basicUI/PNG/buttonLong_blue.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-insets: 0.5;
}

.button:hover {
    -fx-scale-y: 1.03;
}

.upgrade-button {
    -fx-font-size: 14px;
}

.tooltip-title-label {
    -fx-font-weight: bold;
}

.tooltip-description-label {
    -fx-font-style: italic;
}

.tooltip-effect-label {
}

.tooltip-cost-label {
}

.coins-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(70,70,70,0.5) , 0,0,0,1 );
}

.tier-label {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(70,70,70,0.5) , 0,0,0,1 );
}